{% extends 'index.html' %} {% block title %}Profile{% endblock %} {% block
content %}
<h1>Welcome, {{user.username}}</h1>

<p><b>Username: </b>{{user.username}}</p>
<p><b>Email: </b>{{user.email}}</p>
<p><b>First Name: </b>{{user.first_name}}</p>
<p><b>Last Name: </b>{{user.last_name}}</p>
<form>
	<button
		class="btn btn-danger"
		formmethod="GET"
		formaction="/users/{{user.username}}/delete"
	>
		Delete User
	</button>
</form>
<br />
<hr />
<br />
<h2>Feedback</h2>
<br />
<!-- Something like this? -->
<ul style="list-style: none">
	{% for post in feedback %}
	<li data-feedback-id="{{post.id}}">
		<b>{{post.title}}</b>
		<a href="/feedback/{{post.id}}/update"
			><i class="fa-solid fa-pen-to-square edit"></i
		></a>
		<i class="fa-solid fa-trash-can delete" style="color: rgb(170, 0, 0)"></i>
		<p>{{post.content}}</p>
	</li>
	{% endfor %}
</ul>
{% endblock %}
